<div id="cameraContainer" class="camera-container">

  <h1 class="welcome-title">Take a photo</h1>
<h2><p class="welcome-tagline">
    Take a photo to be your cover artwork.
  </p></h2>
  <p class="welcome-info">
    camera access needed.
  </p>
  <div class="camera-wrapper">
    <video id="cameraVideo" class="camera-video" autoplay playsinline></video>
    <img    id="cameraSnapshot" class="camera-video snapshot-preview" alt="Your photo" hidden />
  </div>

  <button id="captureBtn" class="camera-button">📷 Enable Camera</button>
  <button id="cameraContinueBtn" class="camera-button" hidden>Continue</button>
</div>
