/* layout.css */

body {
  font-family: 'IBM Plex Mono', monospace;
  margin: 0;
  padding: 0;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 15px;
  gap: 15px;
  box-sizing: border-box;
}

.tile {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: calc(100% - 30px);
  max-width: 300px;
  box-sizing: border-box;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: background-color 0.2s ease;
}

.tile:hover {
  background-color: #ececec;
}


.tile img {
  max-width: 100%;
  height: auto;
}

.tile-title {
  font-weight: bold;
  margin-top: 10px;
}

.tile-desc {
  margin-top: 5px;
  font-size: 14px;
  text-align: center;
}

.like-counter {
  margin-top: 10px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 16px;
}

@media (min-width: 600px) {
  .tile {
    width: calc(50% - 30px);
  }
}

@media (min-width: 900px) {
  .tile {
    width: calc(33.333% - 30px);
  }
}
