<div class="container controls-container">
  <div class="power">
    <label class="switch">
      <input type="checkbox" id="powerToggle">
      <span class="slider"></span>
    </label>
    <button id="randomizeButton" title="Randomize">
      <img class="icon" src="/graphics/icon_randomize.png" alt="Randomize">
    </button>
  </div>
  <label for="animat">Animat</label>
  <input type="range" id="animat" min="0" max="1" step="0.01" value="0.2">
  <label for="context">Context</label>
  <input type="range" id="context" min="0" max="1" step="0.01" value="0.5">
</div>
